*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

h3{
    padding: 15px;
    font-size: 20px;
}

.fuente{
    font-size: 20px;
}


/* BOTONES */
#buttons{
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 1em;
}
  
#buttons > .btn{
    background-color: #ffb35c;
    color: #2e585a;
    margin: 0.5em;
}
  
.wrapper{
    display: flex;
    position: relative;
}
  
.wrapper .sidebar{
    width: 100px;
    height: 100%;
    background: #2E585A;
    padding: 30px 0px;
    position: fixed;
}
  
.wrapper .sidebar ul li{
    text-align: center;
    padding: 35px 0px;
}
  
.wrapper .sidebar ul li:hover{
    background-color: #E3F2E6;
    opacity: 0.5;
}
  
.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 100px;
}
  
  
.wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
}
  
.wrapper .main_content .info div{
    margin-bottom: 20px;
}

.main_content{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}





