<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

h3{
    padding: 15px;
    font-size: 20px;
}

.fuente{
    font-size: 20px;
=======
.main_content{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 0px 100px;
    
>>>>>>> 416453652ecc64bf07267e8d69d6d947736dd987
}

.member{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.member h3{
    font-weight: bold;
}

.member p{
    line-height: 1.5em;
}