body{
    /* background-color: #D6E4EA; */
    background-color: #C9DBE3;
    /* C8CCF9 */
}
.container{
    position: absolute;
    right: 0px;
    width: calc(100% - 100px);
    box-sizing: border-box;
    padding: 2em;
    padding-top: 4.5em;
    height: 100%;
    text-align: center;
}


.card{
    height: 250px;
    width: 400px;
    background-color: #ffb35c;
    position: relative;
    z-index: -1;
}

.container a{
    text-decoration: none;
    color: #2e585a;
}

.container a:hover {
    text-decoration: none;
}