body{
    background-color: #e2f3e7;
}

.container{
    position: absolute;
    right: 0px;
    width: calc(100% - 100px);
    box-sizing: border-box;
    padding: 2em;
    padding-top: 4.5em;
    height: 100%;
    text-align: center;
}


.card{
    height: 250px;
    width: 400px;
    background-color: #ffb35c;
    position: relative;
    z-index: -1;
}

.container a{
    text-decoration: none;
    color: #2e585a;
}

.container a:hover {
    text-decoration: none;
<<<<<<< HEAD
}
=======
}

.card-title{
    font-family: 'Oswald', sans-serif;
}

.dropdown{
    display: none;
}

>>>>>>> 416453652ecc64bf07267e8d69d6d947736dd987
