body{
    /* background-color: #D6E4EA; */
    background-color: #C9DBE3;
    font-family: 'Montserrat', sans-serif;
    /* C8CCF9 */
}

.container-fluid{
    width: 100%;
    padding-left: 100px;
    padding-right: 0px;
    box-sizing: border-box;
    padding-top: 4.5em;
    height: 100%;
    text-align: center;
}


.card{
    height: 250px;
    width: 400px;
    background-color: #ffb35c;
    position: relative;
    z-index: -1;
}

.container-fluid a{
    text-decoration: none;
    color: #2e585a;
}

.container-fluid a:hover {
    text-decoration: none;
}

.card-title{
    font-family: 'Oswald', sans-serif;
}

.dropdown{
    display: none;
}

/*Subject to change: Styles to be applied to games that are locked*/

.locked .card {
    background-color: #f8ca95;

}

.locked a{
    pointer-events: none;
}

.locked img{
    opacity: 0.2;
}