body { 
    width: 100%;
    height:100%;
    margin: auto;
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
}

.container{   
    width: 400px;
}


.card-header{
    background-color:#FFB35C;
}


.card-body{
    background-color: #F1F9F3;
}


.btn{
    background-color: #FFB35C;
}


.btn-group{
    margin-left: 33%;
    margin-top: 15px;
}

.entrar{
    text-align: center;
    font-size: 14px;
}