/*  ffb35c groc
    ddfff5 fondo
    2e585a fosc
*/

html, body {
    height: 100%;
    margin: 0;
  }
  
.recomerçem{
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 9, 9);
}


.recomerçem> li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite; 
  }

.recomerçem li:nth-child(1) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('../media/photo1.jpg');
  }
  .recomerçem li:nth-child(2) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('../media/photo2.jpg');
    animation-delay: 10s; 
  }
  .recomerçem li:nth-child(3) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('../media/photo3.jpg');
    animation-delay: 20s; 
  }

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    2% {
      opacity: 1;
      
    }
    28% {
        
      opacity: 1;  
      animation-timing-function: ease-in; 
    }
    33% {
      opacity: 0;    
    }
  }


#buttons{
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 1em;
}

#buttons > .btn{
    background-color: #ffb35c;
    color: #2e585a;
    margin: 0.5em;
}

#recomerçButton{
display: flex;
width: 100%;
justify-content: center;
}

#recomerçButton > .btn{
    background-color: #ffb35c;
    color: #2e585a;
    position: absolute;
    bottom: 2em;
}

#div2{
    background-color: blueviolet;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

