body {
  background-color: #c9dbe3;
}

.card {
  border: none;
}

/* .card .card {
  height: 55vh !important;
} */

.card-body .card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  background-color: white;
  border-radius: 4px;
}

.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #c9dbe3;
}

.card-body p:last-of-type {
  font-weight: bold;
}

.card-body p:first-of-type {
  font-style: italic;
}

.card-title {
  font-weight: bold;
}

.container-fluid > .card > .card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

#display_points {
  float: right;
}

.container-fluid {
  width: 100%;
  padding-left: 100px;
  padding-right: 0px;
  padding-top: 4.5em;
}

.card-header {
  font-family: "Oswald", sans-serif;
  color: #2e585a;
  background-color: #ffb35c;
  font-size: 20px;
  height: 55px;
}

#submitpromo {
  background-color: #ffb35c;
  font-weight: bold;
}
