body{
  background-color:  #C9DBE3;
}

.card{
  border: none;
}

.card-body .card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.card-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #C9DBE3;
}

.container-fluid > .card > .card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#display_points{
  float: right;
}

.container-fluid{
  width: 100%;
  padding-left: 100px;
  padding-right: 0px;
  padding-top: 4.5em;
}

.card-header{
  font-family: 'Oswald', sans-serif;
  color: #2e585a;
  background-color: #FFB35C;
  font-size: 20px;

}

#submitpromo{
  background-color: #FFB35C;
  font-weight: bold;
}