body { 
    width: 100%;
    height:100%;
    background-color: #C9DBE3;
    font-family: 'Montserrat', sans-serif;
}

.home{
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 50px;
}

.home img{
    background-color: #FFB35C;
    padding: 15px;
    border-radius: 7px;
}

.container{   
    width: 600px;
    margin: auto;
    margin-top: 10%;
}

.card-header{
    background-color:#FFB35C;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}


.card-body{
    background-color: #2e585a;
    color: white;
    font-size: 15px;
}


.btn{
    background-color: #FFB35C;
    font-size: 14px;
    font-weight: bold;
}

.btn-group{
    margin-left: 40%;
    margin-top: 15px;
}

.entrar{
    text-align: center;
    font-size: 13px;
}

.entrar a{
    color: white;
}

.dropdown{
    display: none;
}