body { 
    width: 100%;
    height:100%;
    margin: auto;
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
}

.container{   
    width: 600px;
    
}

.card-header{
    background-color:#FFB35C;
    color: black;
}


.card-body{
    background-color: #2e585a;
    color: white;
    font-size: 15px;
}


.btn{
    background-color: #FFB35C;
    font-size: 14px;
}

.btn-group{
    margin-left: 40%;
    margin-top: 15px;
}

.entrar{
    text-align: center;
    font-size: 13px;
}

.entrar a{
    color: white;
}