*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
} 


.sidebar{
  width: 100px;
  height: 100%;
  background: #2E585A;
  position: fixed;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 0px;
  z-index: 2;
}

.sidebar ul{
  text-decoration: none;
  height: 85%;
  list-style: none;
  position: fixed;
  padding: 0px;
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.sidebar h2{
  margin: auto;
}

.sidebar ul a div p {
  display: inline;
}

.logo{
  display: inline;
  align-self: flex-end;
  margin-left: 13px;
  margin-top: 20px;
}

.sidebar img{
  display: inline;
  align-self: flex-end;
  margin-left: 13px;
}

.sidebar li div{
  width: 150px;
  display: inline;
  text-align: center;
  margin-top: 20px;
}

.sidebar ul > li{
  transition: 0.30s;
  background-color: #2e585a;
  padding: 20px 20px;
  box-sizing: border-box;
  position: relative;
  left: -160px;
  transition: 0.3s;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
} 

.sidebar ul > li:hover {
  left: 0px;
}

.sidebar ul a{
  text-decoration: none;
  color: #ffb35c;
  display: flex;
}
