*{
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
} 

/* body{
  background-color: #DDFFF7;
} */


/* BOTONES */
#buttons{
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 1em;
}

#buttons > .btn{
  background-color: #ffb35c;
  color: #2e585a;
  margin: 0.5em;
}

.sidebar{
  width: 100px;
  height: 100%;
  background: #2E585A;
  position: fixed;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px 0px;
}

.sidebar ul{
  text-decoration: none;
  height: 90%;
  list-style: none;
  position: fixed;
  padding: 0px;
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
<<<<<<< HEAD
=======


>>>>>>> 6995cfd7c5a2f349657c6b3e4e2edb278f4af7f6
.sidebar h2{
  margin: auto;
}

<<<<<<< HEAD

.sidebar ul a > p{
  display: none;
  margin-left: 20px;
  color: #ffb35c;
}

.sidebar ul a {
  text-decoration: none;
}

.sidebar ul a:hover {
  text-decoration: none;
}

.sidebar li img{
  display: inline;
=======
.sidebar ul a div p {
  display: inline;
}

.sidebar img{
  display: inline;
  align-self: flex-end;
  margin-left: 13px;
}

.sidebar li div{
  width: 150px;
  display: inline;
  text-align: center;
  margin-top: 20px;
>>>>>>> 6995cfd7c5a2f349657c6b3e4e2edb278f4af7f6
}

.sidebar ul > li{
  transition: 0.30s;
  background-color: #2e585a;
  padding: 20px 20px;
  box-sizing: border-box;
<<<<<<< HEAD
}
=======
  position: relative;
  left: -160px;
  transition: 0.3s; 
} 

.sidebar ul > li:hover {
  left: 0px;
}



.sidebar ul a{
  text-decoration: none;
  color: #ffb35c;
  display: flex;
}
>>>>>>> 6995cfd7c5a2f349657c6b3e4e2edb278f4af7f6
