*{
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
} 


.sidebar{
  width: 100px;
  height: 100%;
  background: #2E585A;
  position: fixed;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 0px;
  z-index: 2;
}

.sidebar ul{
  text-decoration: none;
  list-style: none;
  padding: 0px;
  box-sizing: border-box;
}

.sidebar h2{
  margin: auto;
}

.sidebar ul a > p{
  display: none;
}

.sidebar ul > li{
  transition: 0.30s;
  background-color: #2e585a;
  padding: 20px 20px;
  box-sizing: border-box;
} 

.sidebar ul a{
  text-decoration: none;
  color: #ffb35c;
}
