@mixin flexDisplay($direction){
    display: flex;
    justify-content: $direction;
    align-items: $direction;
}

@mixin gridDisplay(){
    display: grid;

}

body{
    display: grid;
}
#game{
    box-sizing: border-box;
    margin: auto;
    margin-top: 2%;
    width: 75%;
    min-width: 1050px;
    border: solid grey 10px;
   
}

.topbar{
    box-sizing: border-box;
    height: 100px;
    background-color: black;
    color:white;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr;
    
    #feedback{
        margin-left: 10px;
    }
    
    button{
        height: 70%;
        font-size: 20px;
        padding: 3px;
        margin: 10px;
    }
}

.container{
    box-sizing: border-box;
    display:grid;
    grid-template-rows: 1fr 1.25fr 1.25fr 1fr;
    justify-content: space-between;
    
    .shelf{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
        align-items: center;

        .dropzone {
            box-sizing: border-box;
            width: 100px;
            height: 100px;
            margin: 10px;
            padding: 0px;
            
            background-color: black;
            
        }
        
        .center{
            box-sizing: border-box;
            background-color: rgb(51, 168, 168);
            width: 300px;
            margin: auto;
            display: grid;
            justify-content: center;
            height: 100%;
           
           
            .dropzone{
                
                border: solid black 1px;
                margin-top: 0px;
                background-color: beige;
                width: 300px;
                height: 100%;
                
                display: grid;
                justify-content:center;
                align-items:center;
            }
        }

        [draggable='true']{
            width: 100px;
            height: 100px;
            text-align: center;
            background: rgb(0, 174, 255);
            
        }
    }


    #hats{
        background-color: brown;
        
    }

    #shirts{
        background-color: lightsalmon;
        
    }

    #pants{
        background-color: rgb(170, 116, 71);
    }

    #shoes{
        background-color: rgb(92, 59, 59);
    }


}



  
  

  