body{
    font-family: 'Montserrat', sans-serif;
    background-color: #C9DBE3;
}

#container{
    position: absolute;
    right: 0px;
    width: calc(100% - 100px);
    margin-top: 7%;
    z-index: -1;
}

#instructions, #finishGame{
    background-color: #ffb35c;
    z-index: 50;
    position: relative;
    height: 450px;
    width: 895px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

h3{
    font-family: 'Oswald', sans-serif;
    color: #2e585a;
    padding: 30px;
}

#instructions img{
    margin-left: 50px;
}

#instructions p{
    margin-left: 30px;
    padding-right: 80px;
    text-align: left
}

#play{
    background-image: url("/project1/webApp/game_anna/img/jugar.png") !important;
    margin-top: 50px;
    margin-right: 55px;
    width: 100px;
    
    background-repeat: no-repeat;
    margin-left: 0px;
    height: 40px;
}

.play > img{
    background-color: #2e585a;
    padding: 15px;
    border-radius: 7px;
}

.play img:hover{
    transform:scale(1.25);
}


#gamePlay {
    display: none;
}

#game{
    height: 450px;
    width: 895px;
    margin: 20px auto;
    position: relative;
}


#background{
    /* background-image: url("img/background-white.png"); */
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}


#character {
    /* background-color: red; */
    height: 80px;
    width: 60px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
}

#cloud{
    height: 50px;
    width: 120px;
    position: absolute;
    bottom: 0px;
}

#coin{
    height: 40px;
    width: 30px;
    position: absolute;
    bottom: 0px;
}


.points{
    position: absolute;
    top: 10px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #C9DBE3;
    padding-right: 15px;
}

#time{
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: #C9DBE3;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

#finishGame{
    display: none;
    padding-top: 50px;
}

#finishGame > p:first-child{
    font-weight: bold;
}

#abuela-final{
    margin-left: 150px;
    margin-top: 50px;
}

#gameOverInfo p{
    margin-top: 50px;
    margin-right: 350px;
    padding: 10px;
    margin-left: 200px;
    text-align: left;
    border: 2px solid #2e585a;
    border-radius: 10px;
}

.final-buttons{
    display: flex;
    flex-direction: row;
    margin-left: 33%;
    margin-top: 50px;
    
}

#redeem{
    margin-left: 50px;
}