.background{
    height: 450px;
    width: 895px;
    margin: 20px auto;
    position: relative;
    background-image: url("img/landscape.jpg");
}


#square {
    /* background-color: red; */
    height: 80px;
    width: 60px;
    position: absolute;
    bottom: 0px;
}

#square2{
    /* background-color: red; */
    /* height: 80px;
    width: 80px; */
    height: 50px;
    width: 120px;
    position: absolute;
    bottom: 0px;
}

/* .character-sliding {
    background-color: red;
    height: 40px;
    width: 70px;
    position: absolute;
    bottom: 0px;
} */

