/* Language dropdown off */
.dropdown{
    display: none;
}

/* CONTAINER */

body{
    background-color: #e2f3e7;
}

.gameContainer{
    position: absolute;
    right: 0px;
    width: calc(100% - 100px);
    margin-top: 7%;
    z-index: -1;
}

/* INSTRUCTIONS */

#instructions{
    background-color: #ffb35c;
    color: #2e585a;
    z-index: 50;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

#instructionsInfo{
    display: grid;
    padding: 10px;
    grid-template-columns: 25% 75%;
    justify-content: space-around;
}

#instructionsInfo > img {
    width: 55px;
    padding: 2px;
}

.play{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    height: 20px;
}

.play div{
    display: flex;
    align-items: center;
}

.play img{
    padding-left: 3px;
    height: 22px;
}

.play h4{
    padding-right: 20px;
}

#interior{
    display:none;
  }
  


/* GAME */

#background{
    height: 450px;
    width: 895px;
    margin: 20px auto;
    position: relative;
}

#interior > p {
    position: absolute;
}

#gameBack{
    width: 100%;
    height: 100%;
    position: absolute;
}

#lady{
    position: relative;
    height: 260px;
    width: 145px;
    z-index: 2;
}

#basket{
    position: absolute;
    top: 375px;
    left: 825px;
    height: 65px;
    background-color: rgb(233, 167, 92);
    border: black 1px solid;
    border-radius: 4px;
    padding: 5px;
}

#list{
    position: absolute;
    top: 35px;
    left: 20px;
    height: 30px;
    background-color: rgb(233, 167, 92);
    border: black 1px solid;
    padding: 5px;
    border-radius: 4px;

}

/* List */

.divList{
    background-image: url(img/notebook.png);
    background-position: center;
    background-size: cover;
    height: 170px;
    width: 200px;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 70px;
    padding-top: 10px;
    font-family: 'Caveat', cursive;
    line-height: 1.2em;
}

#interior > p{
padding-top: 5px;
position: relative;
padding-left: 10px;
}

.divList > ul{
    list-style: none;
}

.noVisible{
    display: none;
}

/* Talk with someone  */

#speak{
    position: absolute;
    top: 200px;
    left: 675px;
    height: 20px;
    background-color: rgb(233, 167, 92);
    border: black 1px solid;
    border-radius: 35px;
    padding: 10px;
    display: none;
    z-index: 2;
}

#interior > p{
    z-index: 2;
    color: black;
}


.visible{
    display: inline;
}

#text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: auto;
    font-size: large;
    background-color: rgb(233, 167, 92);
    display: none;
    padding: 5px;
    border: 1px solid black;
    z-index: 50;

}

#text > div {
    padding-left: 20px;
    padding-right: 20px;
}

#text > img{
    height: 10px;
    margin-bottom: 5px;
}

/* Basket animations */

.animationClassGreen{
    animation: basketGreen 0.5s linear;
}

.animationClassRed{
    animation: basketRed 0.5s linear;
}

@keyframes basketGreen{
    0%{
        background-color: rgb(233, 167, 92);
    } 

    50%{
        background-color: rgb(60, 175, 60);
    }

    100%{
        background-color: rgb(233, 167, 92);;
    }
}

@keyframes basketRed{
    0%{
        background-color: rgb(233, 167, 92);
    } 

    50%{
        background-color: rgb(245, 20, 20);
    }

    100%{
        background-color: rgb(233, 167, 92);
    }
}

/* MESSAGE AFTER GAME */

#afterGame{
    display: none;
    background-color: #ffb35c;
    color: #2e585a;
    position: relative;
    z-index: 20;
    height: 100%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    height: 450px;
    width: 895px;
}

#replay{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#replay > img{
    
    padding-left: 3px;
    height: 30px; 
}

#replay > h2 {
    padding-left: 1em;
}

/* Clock */

#time{
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    z-index: 3;
    background-color: #ffb35c;
    border: 1px solid black;
    border-radius: 3px;
}

/* Change shop */

#shop{
    position: absolute;
    top: 75px;
    left: 20px;
    height: 30px;
    background-color: rgb(233, 167, 92);
    border: black 1px solid;
    padding: 5px;
    border-radius: 4px;
}