.final {
  color: black;
  padding-right: 3px;
}

.interim {
  visibility: hidden;
}

.info {
  font-size: 10px;
  text-align: center;
  color: #777;
  display: none;
}

.right {
    float: right;
}

#start_img{
    height: 25px;
    width: 25px;
}

#voiceinfo {
  height: 20px;
  font-size: 16px;
  text-align: center;
  color: black;
  visibility: hidden;
}

#voiceinfo p:first-child{
  visibility: visible;
  padding-left: 4px;
  font-size: 14px;
  text-decoration: underline;
}

#results {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  height: 15px;
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 14px;
}

#start_button {
  border: 0;
  background-color: black;
  padding: 0;
  border-radius: 500px;

}
